<h1>Manuall</h1>
<br>
<br>
<br>
<p> 1. Installed Bcrypt<br> 2. Installed sessions<br> 3. Installed Mongodb and server also created<br>
 4. Express handlebars installed<br> 5. Remember session has added only 60 seconds<br><br><br>
  
  github @ sapphire smith</p>

<br>
  <p>linkedin @ https://www.linkedin.com/in/sapphire-smith-963237232/ </p>